<footer class="main-footer">
    <div class="footer-left">
      <a href="/">No one is left behind. Go back to the main page. Once you go though kurudi ni ngumu</a></a>
    </div>
    <div class="footer-right">
    </div>
  </footer>