* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .carousel {
    margin: 50px auto;
    width: 450px;
    height: 400px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.226);
    position: relative;
  }
  .slide {
    display: none;
  }
  .slide img {
    object-fit: fill;
    object-position: center;
    height: 100%;
    width: 100%;
  }
  
  .icon {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .button_icon {
    height: 24px;
    width: 24px;
    stroke: #087f5b;
  }
  
  .button_right {
    top: 50%;
    transform: translate(50%, -50%);
    right: 0;
  }
  .button_left {
    top: 50%;
    transform: translate(-50%, -50%);
    left: 0;
  }
  