<% layout('layout/boilerplate')%>
  <section class="about mb-5" id="#about">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-12">
          <img src="" alt="">
        </div>
        <div class="col-lg-10 col-12">
          <h2 class="mb-4 mt-4">Our <u class="text-info">Story</u></h2>
        </div>

        <div class="mb-3 border-bottom pb-5">
          <h3 class="mb-3">Leaving no one behind</h3>

          <p>
            The
            <b><u class="text-info">Leave No Medic Behind Initiative Charity Run</u></b>
            is a fundraising project by the Association of Medical Students of the
            University of Nairobi (AMSUN) to meet the financial needs of
            underprivileged students in the School of Medicine. It began in 2017
            when the then 5th year medical school class had a classmate who was
            almost denied to sit for their end of year exams because of a fees
            balance of less than sh 20,000. His classmates rallied together, each
            giving what they could and with that the student was able to sit for
            his exams and hence Leave No Medic Behind (LNMB) was born. Initially,
            LNMB primarily did student-centered fund raising using the harambee
            model however in 2022, there emerged the idea to organise for a
            charity run. The inaugural 2022 charity run was a huge success with
            over 650 t-shirts being sold and about 550 attendees coming for the
            run. The 3rd annual LNMB charity run will take place on 4th May 2024
            and it is definitely going to be bigger and better.
          </p>
          <p>
            Do <a href="/buy-tshirt"><u class="text-info"><b>join us</b></u></a> in this
            noble venture to make sure that no medic is left behind.
          </p>

          <a class="custom-btn custom-border-btn btn custom-link mt-3 me-3" href="/#highlights">Check out our past
            highlights</a>

          <a class="custom-btn btn custom-link mt-3" href="/buy-tshirt">Buy a tshirt</a>
        </div>

        <div class="mt-3 mb-3 border-bottom">
          <h4>
            Tribute to the late <u class="text-info">Professor Hassan Saidi.</u>
          </h4>
          <p>
            Professor Hassan Saidi was a surgeon and the chairman of the Department of Human Anatomy at the University
            of Nairobi. He was born on August 3, 1965, in Nairobi, Kenya, and died of cancer on August 29, 2017, at the
            age of 52. His friends and colleagues describe him as a person who was always striving for excellence in
            whatever he set his hands to. As Daniel Ojuka, a lecturer in the Department of Surgery at the University of
            Nairobi, described him, he was interested in developing people and positively impacting them. His students
            described him as a dedicated leader who is always willing to lend a helping hand. "He basically treated them
            like his own children," said Nelly Bosire, an obstetrician-gynecologist who met Hassan while interning at
            Kenyatta National Hospital. "He interacted with them and was delighted to open his door and welcome them
            in.”
            Furthermore, his students stated that he stressed the responsibilities that came with their education. "You
            could go to him with an idea and he asked you, 'What are you looking at achieving with it? "How will it
            benefit the institution or the hospital?" said Benjamin Wabwire, a surgeon who worked with Hassan during one
            of his clinical rotations. "He'd tell you not to do things just because they're required; you have to do
            them for a reason," he adds. Apart from these, Hassan was able to devote time to assisting parents in the
            Kibera slum, where he grew up, in finding educational opportunities for their children and even developing
            projects to improve sanitation in the community.
          </p>
        </div>

        <div class="mt-3">
          <h4>
            Tributes from the AMSUN Leadership, <u class="text-info">For Amayo.</u>
          </h4>
          <p>
            We have lost a beacon of hope to our community. The late Amayo Mordecai was a finalist MBChB student, and a
            1st Class Honors graduate from the BSc. Medical Physiology programme from the faculty of health sciences. 

            He utilised his gifts and talents to benefit us all. He was a good man with a caring heart, and he dedicated
            much of his time and efforts in tutoring hundreds of fellow medical students in Physiology over the years.
            He cared deeply about improving healthcare in our nation, and he spearheaded numerous projects aimed at
            developing digital solutions for patient record keeping, for diagnosing diseases through imaging, and for
            analysing trends in patient data to draw useful inferences for their management and care. But he did neither
            of this alone, and he has mentored multiple students and engaged with multiple lecturers and professors from
            our institution to actualize this dream; his loss is a blow to us all.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="speakers section-padding" id="section_5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 d-flex flex-column justify-content-center align-items-center">
          <div class="speakers-text-info">
            <h2 class="mb-4">Meet <u class="text-info">The Team</u></h2>

            <p>
              These are some of the individuals working in various capacities, with their teams, towards the success of
              the run. Get to know and reach them through their social media.
            </p>
          </div>
        </div>

        <div class="col-lg-6 col-12">
          <div class="speakers-thumb">
            <img src="images/raceofficials/race-director.jpg" class="img-fluid speakers-image" alt="" />

            <small class="speakers-featured-text">Featured</small>

            <div class="speakers-info">
              <h5 class="speakers-title mb-0">Ruby Oswere - MBCHB V</h5>

              <p class="speakers-text mb-0">Socials</p>

              <ul class="social-icon">
                <li><a href="https://twitter.com/RelaxedRuby" class="social-icon-link bi-twitter" target="_blank"></a>
                </li>

                <li><a href="https://www.instagram.com/relaxed.ruby/" class="social-icon-link bi-instagram"
                    target="_blank"></a></li>
                <li><a href="https://www.linkedin.com/in/ruby-oswere-94882513a/" class="social-icon-link bi-linkedin"
                    target="_blank"></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="row">
            <div class="col-lg-4 col-12">
              <div class="speakers-thumb speakers-thumb-small">
                <img src="images/raceofficials/deputy-race-director.jpg" class="img-fluid speakers-image" alt="" />

                <div class="speakers-info">
                  <h5 class="speakers-title mb-0">Peter Ogutu - MBCHB III</h5>

                  <p class="speakers-text mb-0">Socials</p>

                  <ul class="social-icon">
                    <li><a href="#" class="social-icon-link bi-twitter" target="_blank"></a></li>

                    <li>
                      <a href="#" class="social-icon-link bi-instagram" target="_blank"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-12">
              <div class="speakers-thumb speakers-thumb-small">
                <img src="images/raceofficials/organizing-lead.jpg" class="img-fluid speakers-image" alt="" />

                <div class="speakers-info">
                  <h5 class="speakers-title mb-0">Bob Anthony - MBCHB V</h5>

                  <p class="speakers-text mb-0">Socials</p>

                  <ul class="social-icon">
                    <li>
                      <a href="https://twitter.com/BobKOpere" class="social-icon-link bi-twitter" target="_blank"></a>
                    </li>

                    <li><a href="https://www.instagram.com/_bob_anthony_/" class="social-icon-link bi-instagram"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-12">
              <div class="speakers-thumb speakers-thumb-small">
                <img src="images/raceofficials/deputy-organizing-lead.jpg" class="img-fluid speakers-image" alt="" />

                <div class="speakers-info">
                  <h5 class="speakers-title mb-0">Lynn Maina - MBCHB III</h5>

                  <p class="speakers-text mb-0">Socials</p>

                  <ul class="social-icon">
                    <li><a href="#"></a></li>

                    <li>
                      <a href="#" class="social-icon-link bi-instagram" target="_blank"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-12">
              <div class="speakers-thumb speakers-thumb-small">
                <img src="images/raceofficials/fitness.jpg" class="img-fluid speakers-image" alt="" />

                <div class="speakers-info">
                  <h5 class="speakers-title mb-0">Keith Tongi - MBCHB V</h5>

                  <p class="speakers-text mb-0">Socials</p>

                  <ul class="social-icon">
                    <li><a href="https://twitter.com/tkei__" class="social-icon-link bi-twitter" target="_blank"></a>
                    </li>

                    <li>
                      <a href="https://www.instagram.com/tkei__/" class="social-icon-link bi-instagram"
                        target="_blank"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-12">
              <div class="speakers-thumb speakers-thumb-small">
                <img src="images/raceofficials/ict.jpg" class="img-fluid speakers-image" alt="" />

                <div class="speakers-info">
                  <h5 class="speakers-title mb-0">Wechuli - MBCHB V</h5>

                  <p class="speakers-text mb-0">Socials</p>

                  <ul class="social-icon">
                    <li>
                      <a href="https://twitter.com/wechuli_eugene" class="social-icon-link bi-twitter"
                        target="_blank"></a>
                    </li>

                    <li><a href="https://www.instagram.com/wechu_._/" class="social-icon-link bi-instagram"
                        target="_blank"></a></li>
                    <li><a href="https://www.linkedin.com/in/wechuli-eugene/" class="social-icon-link bi-linkedin"
                        target="_blank"></a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-12">
              <div class="speakers-thumb speakers-thumb-small">
                <img src="images/raceofficials/office-of-the-organizing-secretary.jpg" class="img-fluid speakers-image"
                  alt="" />

                <div class="speakers-info">
                  <h5 class="speakers-title mb-0">Melvin - MBCHB V</h5>

                  <p class="speakers-text mb-0">Socials</p>

                  <ul class="social-icon">
                    <li><a href="#" class="social-icon-link bi-twitter"></a></li>

                    <li>
                      <a href="https://www.instagram.com/_melchief/" class="social-icon-link bi-instagram"
                        target="_blank"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="col-lg-4 col-12">

              <div class="speakers-thumb speakers-thumb-small">
                <img src="images/raceofficials/nthusi.jpg" class="img-fluid speakers-image" alt="" />

                <div class="speakers-info">
                  <h5 class="speakers-title mb-0">Nthusi - Level VI</h5>

                  <p class="speakers-text mb-0">Socials</p>

                  <ul class="social-icon">
                    <li><a href="https://www.linkedin.com/in/muinde-nthusi-b86265205/"
                        class="social-icon-link bi-linkedin" target="_blank"></a></li>

                    <li>
                      <a href="https://www.instagram.com/muindenthusi/" class="social-icon-link bi-instagram"
                        target="_blank"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-12">
              <div class="speakers-thumb speakers-thumb-small">
                <img src="images/raceofficials/amsun-treasurer.jpg" class="img-fluid speakers-image" alt="" />

                <div class="speakers-info">
                  <h5 class="speakers-title mb-0">Babu Abuto - MBCHB VI</h5>

                  <p class="speakers-text mb-0">Socials</p>

                  <ul class="social-icon">
                    <li><a href="https://twitter.com/BabuAbuto" class="social-icon-link bi-twitter" target="_blank"></a>
                    </li>

                    <li>
                      <a href="https://www.linkedin.com/in/babu-abuto-2a055011b/" class="social-icon-link bi-linkedin"
                        target="_blank"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-12">
              <div class="speakers-thumb speakers-thumb-small">
                <img src="images/raceofficials/publicity.jpg" class="img-fluid speakers-image" alt="" />

                <div class="speakers-info">
                  <h5 class="speakers-title mb-0">Mwikali - MBCHB V</h5>

                  <p class="speakers-text mb-0">Socials</p>

                  <ul class="social-icon">
                    <li><a href="#" class="social-icon-link bi-twitter"></a></li>

                    <li>
                      <a href="https://www.instagram.com/mwikali.wambua/" class="social-icon-link bi-instagram"
                        target="_blank"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-lg-4 col-12">
              <div class="speakers-thumb speakers-thumb-small">
                <img src="images/raceofficials/logistics1.jpg" class="img-fluid speakers-image" alt="" />

                <div class="speakers-info">
                  <h5 class="speakers-title mb-0">Feizal Barasa - MBCHB V</h5>

                  <p class="speakers-text mb-0">Socials</p>

                  <ul class="social-icon">
                    <li><a href="https://twitter.com/FeizalB" class="social-icon-link bi-twitter" target="_blank"></a>
                    </li>

                    <li>
                      <a href="https://www.instagram.com/feizalomar/" class="social-icon-link bi-instagram"
                        target="_blank"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>


            <div class="col-lg-4 col-12">
              <div class="speakers-thumb speakers-thumb-small">
                <img src="images/raceofficials/logistics.jpg" class="img-fluid speakers-image" alt="" />

                <div class="speakers-info">
                  <h5 class="speakers-title mb-0">Taimur Khan - MBCHB V</h5>

                  <p class="speakers-text mb-0">Socials</p>

                  <ul class="social-icon">
                    <li>
                      <a href="https://twitter.com/rahman__tai" class="social-icon-link bi-twitter" target="_blank"></a>
                    </li>

                    <li><a href="https://www.instagram.com/rahman__tai/" class="social-icon-link bi-instagram"
                        target="_blank"></a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-12">
              <div class="speakers-thumb speakers-thumb-small">
                <img src="images/raceofficials/ext-affairs.jpg" class="img-fluid speakers-image" alt="" />

                <div class="speakers-info">
                  <h5 class="speakers-title mb-0">Mwenda Faith - MBCHB IV</h5>

                  <p class="speakers-text mb-0">Socials</p>

                  <ul class="social-icon">
                    <li>
                      <a href="#" class="social-icon-link bi-twitter" target="_blank"></a>
                    </li>

                    <li><a href="#" class="social-icon-link bi-instagram" target="_blank"></a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="row">


              <div class="col-lg-6 col-12">
                <div class="speakers-thumb speakers-thumb-small">
                  <img src="images/raceofficials/sales.jpg" class="img-fluid speakers-image" alt="" />

                  <div class="speakers-info">
                    <h5 class="speakers-title mb-0">Mwau Brian - MBCHB V</h5>

                    <p class="speakers-text mb-0">Socials</p>

                    <ul class="social-icon">
                      <li><a href="https://twitter.com/MwauB" class="social-icon-link bi-twitter" target="_blank"></a>
                      </li>

                      <li>
                        <a href="#" class="social-icon-link bi-instagram" target="_blank"></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-12">
                <div class="speakers-thumb speakers-thumb-small">
                  <img src="images/raceofficials/venue.jpg" class="img-fluid speakers-image" alt="" />

                  <div class="speakers-info">
                    <h5 class="speakers-title mb-0">Sandra - MBCHB V</h5>

                    <p class="speakers-text mb-0">Socials</p>

                    <ul class="social-icon">
                      <li><a href="#" class="social-icon-link bi-twitter" target="_blank"></a></li>

                      <li>
                        <a href="#" class="social-icon-link bi-instagram" target="_blank"></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>