<% layout('layout/form-boilerplate')%>

<!-- to-do: reg number vaidation -->

<section class="pricing section-padding" id="section_5">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-12 text-center mx-auto mb-5">
        <h2>Get Your <u class="text-info">T-shirt</u>, or donate freely</h2>
        <p>In order to register for the run, proceed to buy a tshirt. You can also buy a tshirt even if you choose not to participate in the run. Alternatively, you can donate any sum to the fund with or without buying a tshirt, which will go towards the leave no medic behind cause</p>
      </div>

      <div>
        <div class="pricing-thumb bg-white shadow-lg">
          <form action="/buy-tshirt" method="post" class="needs-validation" novalidate>
            <div class="form-group mb-3 px-3 pt-3">
              <label>Are you a student?</label>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="student"
                  id="yes"
                  value="yes"
                  onchange="showRegNumber()"
                />
                <label class="form-check-label" for="yes">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="student"
                  id="no"
                  value="no"
                  onchange="hideRegNumber()"
                />
                <label class="form-check-label" for="no">No</label>
              </div>
            </div>
            <div
              class="form-group mb-3 px-3"
              id="regNumber"
              style="display: none"
            >
              <label for="regNumber">Enter your Registration Number:</label>
              <input
                type="text"
                class="form-control"
                id="regNumber"
                name="regNumber"
              />
            </div>
            <div class="form-group mb-3 px-3">
              <label for="tshirt-size">T-Shirt Size:</label>
              <select class="form-control" id="tshirtSize" name="tshirtSize">
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
              </select>
            </div>
            <div class="form-group mb-3 px-3">
              <label for="tshirt-type">T-Shirt Type:</label>
              <select class="form-control" id="tshirtType" name="tshirtType">
                <option value="polo" data-image="https://www.flaticon.com/free-icons/man">Polo Neck</option>
                <img src="https://www.flaticon.com/free-icons/man" alt="Man icons created by Freepik - Flaticon">
                <option value="round">Round Neck</option>
                <img src="https://www.flaticon.com/free-icons/tshirt" alt="Tshirt icons created by Good Ware - Flaticon">
              </select>
            </div>
            <div class="form-group mb-3 px-3" id="pricing-options" style="display: none;">
              <label>Pricing Options</label>
              <div class="form-group mb-3 px-3" id="student-pricing" style="display: none;">
                <label for="student">Students:</label>
                <input
                  type="text"
                  class="form-control"
                  id="student_price"
                  name="student_price"
                  value="2000"
                  readonly
                />
              </div>
              <div class="form-group mb-3 px-3" id="non-student-pricing" style="display: none;">
                <label for="non-student">Non-Students:</label>
                <input
                  type="text"
                  class="form-control"
                  id="nonstudent_price"
                  name="nonstudent_price"
                  value="3000"
                  readonly
                />
              </div>
            </div>
            <div class="form-group mb-3 px-3">
              <label for="full-name">Full Name:</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                required
              />
            </div>
            <div class="valid-feedback">
                Looks good!
              </div>
            <div class="form-group mb-3 px-3">
              <label for="email">Email Address:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                required
              />
            </div>
            <div class="valid-feedback">
                Looks good!
              </div>
            <div class="form-group mb-3 px-3">
              <label for="phone-number">Phone Number:</label>
              <input
                type="tel"
                class="form-control"
                id="phone"
                name="phone"
                required
              />
            </div>
            <div class="valid-feedback">
                Looks good!
              </div>
              <div class="form-group mb-3 px-3">
                <label for="pick-up-point">Pick-up Point:</label>
                <select class="form-control" id="pick-up-point" name="pick-up-point" required>
                  <option value="">Please select a pick-up point</option>
                  <option value="kenyatta-national-hospital">Kenyatta National Hospital</option>
                  <option value="chiromo-campus">Chiromo Campus, University of Nairobi</option>
                  <option value="support">I am not picking any tshirt, just supporting the cause</option>
                </select>
              </div>
              <div class="valid-feedback">
                  Looks good!
                </div>
            <div class="form-group mb-3 px-3">
              <button type="submit" class="custom-btn btn">
                Proceed to Buy (MPESA)
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function showRegNumber() {
    document.getElementById("regNumber").style.display = "block";
    document.getElementById("student_price").value = 600;
  }
  function hideRegNumber() {
    document.getElementById("regNumber").style.display = "none";
    document.getElementById("regNumber").value = "";
    document.getElementById("nonstudent_price").value = 1000;
  }
  document.getElementById("yes").addEventListener("change", function () {
    document.getElementById("pricing-options").style.display = "block";
    document.getElementById("student-pricing").style.display = "block";
    document.getElementById("non-student-pricing").style.display = "none";
  });
  document.getElementById("no").addEventListener("change", function () {
    document.getElementById("pricing-options").style.display = "block";
    document.getElementById("student-pricing").style.display = "none";
    document.getElementById("non-student-pricing").style.display = "block";
  });

  (function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    const validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
    form.addEventListener('submit', (e) => {
    e.preventDefault();
    const phoneNumber = form.phone.value;
    if(!phoneNumber || !/^(?:(?:(?:\+254|0)[17])(?:\d{9}))$|^(?:(?:\+254|0)[17])(?:\d{8})$/.test(phoneNumber)) {
        return alert('Invalid phone number');
    }
    // send the data to the server
});

  }, false);
})();
</script>
