<% layout('layout/form-boilerplate')%>

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
      <path
        d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
    </symbol>
  </svg>

  <section class="pricing section-padding" id="section_5">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <%= error %>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          Hey there! Thank you for your intent to support us. If you are buying a t-shirt, pickup will start on <b>19th
            April</b> 2023. Just make sure you fill in your details correctly.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="col-lg-10 col-12 text-center mx-auto mb-5">
          <h2>Get Your <u class="text-info">T-shirt</u>, or <u class="text-info">Donate</u> directly</h2>
          <p>In order to register for the run, proceed to buy a tshirt. You can also buy a tshirt even if you choose not
            to participate in the run. Alternatively, you can donate any sum to the fund with or without buying a
            tshirt, which will go towards the <u class="text-info"><b>Leave No Medic Behind</b></u> cause.</p>
        </div>

        <div class="mt-5">
          <div class="pricing-thumb bg-white shadow-lg">
            <form action="/buy-tshirt" method="post" id="buyShirtForm" class="needs-validation" novalidate>
              <div class="form-group px-3 pt-3" id="studentStatus">
                <label class="form-label">Are you a student?</label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="student" id="yes" value="yes" />
                  <label class="form-check-label" for="yes">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="student" id="no" value="no" />
                  <label class="form-check-label" for="no">No</label>
                </div>
              </div>
              <div class="form-group mb-3 px-3 pick-up-point" id="university" style="display: none;">
                <select class="form-control" name="university" required>
                  <option value="" selected disabled>From which university?</option>
                  <option value="uon">University of Nairobi</option>
                  <option value="partner">KU, Egerton, JKUAT, MKU</option>
                  <option value="other">Other Universities</option>
                </select>
              </div>
              <div class="form-group mb-3 px-3 pick-up-point" id="level" style="display: none;">
                <select class="form-control" id="yearOfStudy" name="yearOfStudy">
                  <option value="" selected disabled>Please select your year of study</option>
                  <option value="I">First year</option>
                  <option value="II">Second year</option>
                  <option value="III">Third year</option>
                  <option value="IV">Fourth year not in session</option>
                  <option value="IVs">Fourth year in session</option>
                  <option value="V">Fifth year</option>
                  <option value="VI">Sixth year</option>
                </select>
              </div>
              <div class="form-group mb-3 px-3" id="regNumber" style="display: none;">
                <label for="regNumber" class="form-label">Enter your Registration Number:</label>
                <input type="text" class="form-control" id="regNumber" name="regNumber"
                  placeholder="Registration Number" />
              </div>
              <div class="form-group mb-3 px-3 pt-3">
                <label>Buying T-shirt or Donating?</label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="buying" id="buying" value="buying" />
                  <label class="form-check-label" for="yes">Buying T-shirt</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="buying" id="donating" value="donating" />
                  <label class="form-check-label" for="yes">Donating</label>
                </div>
              </div>
              <div class="form-group mb-3 px-3 pt-3" id="attend" style="display: none;">
                <label class="form-label">Will you attend the run on race day?</label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="attending" id="attending" value="attending" />
                  <label class="form-check-label" for="yes">Yes, I will</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="attending" id="notattending"
                    value="notattending" />
                  <label class="form-check-label" for="yes">Just buying a Tshirt</label>
                </div>
              </div>
              <div class="shirts" style="display: none;">
                <div class="form-group mb-3 px-3">
                  <select class="form-control" id="tshirtType" name="tshirtType">
                    <option value="" selected disabled>T-Shirt Type:</option>
                    <option value="polo">Polo Neck</option>
                    <option value="round">Round Neck</option>
                  </select>
                </div>
                <div class="form-group mb-3 px-3">
                  <select class="form-control" id="tshirtSize" name="tshirtSize">
                    <option value="" selected disabled>T-Shirt Size:</option>
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                    <option value="extra-large">Extra Large</option>
                  </select>
                </div>
                <div class="form-group mb-3 px-3">
                  <input class="form-control" type="number" id="quantity" name="quantity" min="1" max="3" value="1"
                    step="1" placeholder="Number of Shirts:">
                </div>
                <div class="form-group mb-3 px-3">
                  <p>Your total amount so far is <span id="totalAmount" name="totalAmount">0</span></p>
                  <input type="hidden" name="totalAmount" id="totalAmountInput" value="0">
                </div>
              </div>
              <div class="form-group mb-3 px-3" style="display: none;" id="full-name">
                <label for="full-name" class="form-label">Full Name:</label>
                <input type="text" class="form-control" id="name" name="name" required />
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="form-group mb-3 px-3" style="display: none;" id="email-address">
                <label for="email" class="form-label">Email Address:</label>
                <input type="email" class="form-control" id="email" name="email" required />
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="form-group mb-3 px-3" style="display: none;" id="phone-number">
                <label for="phone-number" class="form-label">Phone Number:</label>
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon1">254</span>
                  <input type="tel" class="form-control" id="phone" name="phone" placeholder="700000000" required />
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please provide a valid phone number.
                </div>
              </div>
              <div class="form-group mb-3 px-3" style="display: none;" id="kin-div">
                <label for="kin" class="form-label">Name of Next of Kin (in case of emergency):</label>
                <input type="text" class="form-control" id="kin" name="kin" required />
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="form-group mb-3 px-3" style="display: none;" id="kin-number-div">
                <label for="kin-number" class="form-label">Kin's Phone Number</label>
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon1">254</span>
                  <input type="tel" class="form-control" id="kin-number" name="kinNumber" placeholder="700000000"
                    required />
                </div>
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please provide a valid phone number.
                </div>
              </div>
              <div class="form-group mb-3 px-3" style="display: none;" id="amount-div">
                <label for="phone-number" class="form-label">Donate any amount:</label>
                <input type="text" class="form-control" id="amount" name="donatedAmount" />
              </div>
              <div class="form-group mb-3 px-3 pick-up-point" style="display: none;" id="pickUpPoint">
                <label for="pickUp" class="form-label">Pick-up Point:</label>
                <select class="form-control" id="pickUp" name="pickUp">
                  <option value="" selected disabled>Please select a pick-up point</option>
                  <option value="kenyatta-national-hospital">Kenyatta National Hospital</option>
                  <option value="chiromo-campus">Chiromo Campus, University of Nairobi</option>
                </select>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="form-group mb-3 px-3" style="display: none;" id="confirmDiv">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="confirm" id="confirm" value="confirm" />
                  <label class="form-check-label" for="yes">I confirm that I am in good physical health to participate
                    in the Leave No Medic Behind Charity Run. I will follow the laid out trail and directions of the
                    race organisers. I acknowledge that the Charity run may pose possible risk and danger due to the
                    nature of the activity and I release the Charity Run organizers from any responsibility in the event
                    of any accident, illness or injury. I understand my contact information may be used to reach out to
                    me for feedback on the activities related to the Charity run. I confirm that all the details
                    provided above are accurate and true.</label>
                </div>
              </div>
              <div class="form-group mb-3 px-3">
                <button type="submit" class="custom-btn btn">
                  Proceed to Buy (MPESA)
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        const validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });

      }, false);
    })();
  </script>