<% layout('layout/form-boilerplate')%>

  <section class="pricing section-padding" id="section_5">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          Registration will be open on Saturday 25th March. Please bear with us.
              <button type="button" class="btn-close" data-bs-dismiss="alert"
                  aria-label="Close"></button>
      </div>
        <div class="col-lg-10 col-12 text-center mx-auto mb-5">
          <h2>Get Your <u class="text-info">T-shirt</u>, or <u class="text-info">Donate</u> directly</h2>
          <p>In order to register for the run, proceed to buy a tshirt. You can also buy a tshirt even if you choose not
            to participate in the run. Alternatively, you can donate any sum to the fund with or without buying a
            tshirt, which will go towards the Leave No Medic Behind cause.</p>
        </div>

        <div class="col-md-6 col-lg-8 mb-5 mb-lg-0">
          <div class="pricing-thumb bg-white shadow-lg">                                
              <div class="pricing-title-wrap d-flex align-items-center">

                  <h4 class="pricing-title text-white mb-0">Tshirt Pricing Options</h4>
              </div>

              <div class="row g-0">
                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title">Student</h5>
                    <p class="card-text">Round Neck: 700</p>
                    <p class="card-text">Polo: 1000</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title">Non Student</h5>
                    <p class="card-text">Round Neck: 1000</p>
                    <p class="card-text">Polo: 2000</p>
                  </div>
                </div>
              </div>
          </div>
      </div>

        <div class="mt-5">
          <div class="pricing-thumb bg-white shadow-lg">
            <form action="/buy-tshirt" method="post" id="buyShirtForm" class="needs-validation" novalidate>
              <div class="form-group px-3 pt-3" id="studentStatus">
                <label class="form-label">Are you a student?</label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="student" id="yes" value="yes" />
                  <label class="form-check-label" for="yes">Yes</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="student" id="no" value="no" />
                  <label class="form-check-label" for="no">No</label>
                </div>
              </div>
              <div class="form-group mb-3 px-3 pick-up-point" id="university" style="display: none;">
                <label for="university" class="form-label">From which university</label>
                <select class="form-control" name="university" required>
                  <option value="uon">University of Nairobi</option>
                  <option value="partner">KU, Egerton, JKUAT, MKU</option>
                  <option value="other">Other Universities</option>
                </select>
              </div>
              <div class="form-group mb-3 px-3 pick-up-point" id="level" style="display: none;">
                <label for="level" class="form-label">Level of study</label>
                <select class="form-control" name="level" required>
                  <option value="1">I</option>
                  <option value="2">II</option>
                  <option value="3">III</option>
                  <option value="4">IV - Not in session</option>
                  <option value="4-s">IV - In session</option>
                  <option value="5">V</option>
                  <option value="6">VI</option>
                </select>
              </div>
              <div class="form-group mb-3 px-3" id="regNumber" style="display: none;">
                <label for="regNumber" class="form-label">Enter your Registration Number:</label>
                <input type="text" class="form-control" id="regNumber" name="regNumber" />
              </div>
              <div class="form-group mb-3 px-3 pt-3">
                <label>Buying T-shirt or Donating?</label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="buying" id="buying" value="buying" />
                  <label class="form-check-label" for="yes">Buying T-shirt</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="buying" id="donating" value="donating" />
                  <label class="form-check-label" for="yes">Donating</label>
                </div>
              </div>
              <div class="form-group mb-3 px-3 pt-3" id="attend" style="display: none;">
                <label class="form-label">Will you attend the run on race day?</label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="attending" id="attending" value="attending" />
                  <label class="form-check-label" for="yes">Yes, I will</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="attending" id="notattending" value="notattending" />
                  <label class="form-check-label" for="yes">Just buying a Tshirt</label>
                </div>
              </div>
              <div class="shirts">
                <div class="form-group mb-3 px-3">
                  <label for="tshirt-type" class="form-label">T-Shirt Type:</label>
                  <select class="form-control" id="tshirtType" name="tshirtType">
                    <option value="polo">Polo Neck</option>
                    <option value="round">Round Neck</option>
                  </select>
                </div>
                <div class="form-group mb-3 px-3">
                  <label for="tshirt-size" class="form-label">T-Shirt Size:</label>
                  <select class="form-control" id="tshirtSize" name="tshirtSize">
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                    <option value="large">Extra Large</option>
                  </select>
                </div>
                <div class="form-group mb-3 px-3">
                  <label for="quantity" class="form-label">Number of Shirts:</label>
                  <input type="number" id="quantity" name="quantity" min="1" max="3" value="1" step="1">
                </div>
                <div class="form-group mb-3 px-3">
                  <p>Your total amount so far is <span id="totalAmount" name="totalAmount">0</span></p>
                  <input type="hidden" name="totalAmount" id="totalAmountInput" value="0">
                </div>
              </div>
              <div class="form-group mb-3 px-3" style="display: none;" id="full-name">
                <label for="full-name" class="form-label">Full Name:</label>
                <input type="text" class="form-control" id="name" name="name" required />
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="form-group mb-3 px-3" style="display: none;" id="email-address">
                <label for="email" class="form-label">Email Address:</label>
                <input type="email" class="form-control" id="email" name="email" required />
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="form-group mb-3 px-3" style="display: none;" id="phone-number">
                <label for="phone-number" class="form-label">Phone Number:</label>
                <input type="tel" class="form-control" id="phone" name="phone" required />
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please provide a valid phone number.
                </div>
              </div>
              <div class="form-group mb-3 px-3" style="display: none;" id="kin-div">
                <label for="kin" class="form-label">Name of Next of Kin (in case of emergency):</label>
                <input type="text" class="form-control" id="kin" name="kin" required />
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="form-group mb-3 px-3" style="display: none;" id="kin-number-div">
                <label for="kin-number" class="form-label">Kin's Phone Number</label>
                <input type="tel" class="form-control" id="kin-number" name="kinNumber" required />
                <div class="valid-feedback">
                  Looks good!
                </div>
                <div class="invalid-feedback">
                  Please provide a valid phone number.
                </div>
              </div>
              <div class="form-group mb-3 px-3" style="display: none;" id="amount-div">
                <label for="phone-number" class="form-label">Donate any amount:</label>
                <input type="text" class="form-control" id="amount" name="amount" />
              </div>
              <div class="form-group mb-3 px-3 pick-up-point">
                <label for="pickUp" class="form-label">Pick-up Point:</label>
                <select class="form-control" id="pickUp" name="pickUp" required>
                  <option value="none">Please select a pick-up point</option>
                  <option value="kenyatta-national-hospital">Kenyatta National Hospital</option>
                  <option value="chiromo-campus">Chiromo Campus, University of Nairobi</option>
                </select>
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="form-group mb-3 px-3" style="display: none;" id="confirmDiv">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="confirm" id="confirm" value="confirm" />
                  <label class="form-check-label" for="yes">I confirm that I am in good physical health to participate in the Leave No Medic Behind Charity Run. I will follow the laid out trail and directions of the race organisers. I acknowledge that the Charity run may pose possible risk and danger due to the nature of the activity and I release the Charity Run organizers from any responsibility in the event of any accident, illness or injury. I understand my contact information may be used to reach out to me for feedback on the activities related to the Charity run. I confirm that all the details provided above are accurate and true.</label>
                </div>
              </div>
              <div class="form-group mb-3 px-3">
                <button type="submit" class="custom-btn btn">
                  Proceed to Buy (MPESA)
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        const validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
        // form.addEventListener('submit', (e) => {
        //   e.preventDefault();
        //   const phoneNumber = form.phone.value;
        //   if (!phoneNumber || !/^(?:(?:(?:\+254|0)[17])(?:\d{9}))$|^(?:(?:\+254|0)[17])(?:\d{8})$/.test(phoneNumber)) {
        //     return alert('Invalid phone number');
        //   }
        //   // send the data to the server
        // });

      }, false);
    })();
  </script>