<% layout('layout/boilerplate')%>
    <section>
        <div class="container">
            <div class="row">
                <div class="col mb-5 mt-5 mb-lg-0">
                    <div class="pricing-thumb bg-white shadow-lg">
                        <div class="pricing-title-wrap d-flex align-items-center">

                            <h4 class="pricing-title text-white mb-0">Payment Summary</h4>
                        </div>

                        <div class="pricing-body">
                            <p>
                                <i class="bi bi-phone me-2"></i> Your phone number is: <%= phone %>
                            </p>

                            <p>
                                <i class="bi bi-cash me-2"></i> The amount to pay is: Kes <%= amount %>

                            </p>

                            <p>Please confirm your details before paying. Once you pay, please copy and paste your message down here.</p>

                            <div class="border-bottom pb-3 mb-4"></div>

                            <p>
                                <i class="bi-cup me-2"></i> Paybill Number: <b>247247</b>
                            </p>

                            <p>
                                <i class="bi-controller me-2"></i> Account Number: <b>0170280594893</b>
                            </p>

                            <form action="/checkout" method="POST">
                                <input type="hidden" name="amount" value="<%= amount %>">
                                <input type="hidden" name="phone" value="<%= phone %>">
                                <div class="form-group mb-3 px-3">
                                    <textarea class="form-control" rows="5" id="confirmationMessage" name="confirmationMessage"
                                        placeholder="The Confirmation message from Equity Bank"></textarea>
                                </div>
                                <div class="form-group mb-3 px-3">
                                    <button type="submit" class="custom-btn btn">
                                        Submit the information
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>