<% layout('layout/boilerplate')%>

<section>
    <div class="container">
        <div class="row">
            <div class="mt-5">
                <div class="pricing-thumb bg-white shadow-lg">                                
                    <div class="pricing-title-wrap d-flex align-items-center">

                        <h4 class="pricing-title text-white mb-0">Frequently Asked Questions (An image needs to go here somewhere)</h4>
                    </div>

                    <div class="pricing-body">
                        <div class="d-flex justify-content-around align-items-center">
                            <a class="custom-btn btn mt-3" href="/">Go back home</a>
                        <a class="custom-btn btn mt-3" style="background-color: #273053;" href="/buy-tshirt">Buy a tshirt or donate</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      What is Leave No Medic Behind (LNMB)?
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>This is a fundraising initiative started in 2017 with the aim of raising funds for school fees, accommodation and food for underprivileged medical students. In 2022, the idea was developed for a charity run to be organized to boost the funds drive. The second annual edition of the LNMB Run will be taking place on 29th April 2023.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      When and where is the run happening?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>The run is happening on 29th April. The starting point is KMTC field from 7.30 am. There is a 5km route and 10km route on race day. The event program will run till 2pm.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Who is invited for the run?
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>Everyone is invited! So tell all your friends and family and invite them to come!!</p>
                    </div>
                  </div>
                </div>

                <!-- from here...  -->

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        How do I sign up for the run?
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>You can sign up by visiting our website **domain here**.All you need to do to attend the run is buy a LNMB t shirt and show up on race day wearing the t-shirt.</p>
                      </div>
                    </div>
                  </div> 

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        When is the deadline for online registration?
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>Registration closes on Friday 28th April at midnight. However, if you miss the deadline, you can still arrive on race day and buy a t-shirt at the venue.</p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSix">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        How much are t-shirts?
                      </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>If you are a university student, then t-shirts are sh 600 for round neck design and sh 1000 for polo neck design. If you are a non-student, then t-shirt prices are sh 1000 for round neck design and sh 1000 for polo neck design.</p>
                      </div>
                    </div>
                  </div>

                  <div>
                    <h2><b>T-shirt Details</b></h2>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSeven">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        What is the color/size of the t shirts?
                      </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>The t-shirts are white in color. You can see some samples when you visit @amsunrunning on Instagram and Twitter. The sizes range from small to XXXL.</p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEight">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                        Where and when can I pick my t-shirt?
                      </button>
                    </h2>
                    <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>There are 2 pick up points for t-shirts: Chiromo UON campus and KNH UON campus. The pick-up points will operational from **give day and time details ***. You will also be able to buy a t-shirt on site at the venue on race day (29th April).</p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingNine">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                        Can I send someone to pick a t-shirt on my behalf?
                      </button>
                    </h2>
                    <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>Yes, you can as long as you send them with the MPESA verification code/message</p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTen">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                        Do you do deliveries?
                      </button>
                    </h2>
                    <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>At the moment no. You either need to pick your t shirt from the pick up point or send someone to pick it up on your behalf.</p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingEleven">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                        Must I buy a t-shirt in order to participate in the run?
                      </button>
                    </h2>
                    <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>Yes. T-shirt sales is the main way in which we are raising money for the charity.</p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwelve">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                        Can I wear my t-shirt from last year to this year's run? 
                      </button>
                    </h2>
                    <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>We wouldn't advise you to wear last year's t-shirt to this year's run because the 2023 design is gonna be fresh and new and you definitely don't want to miss out on the amazing new t-shirt. Furthermore, t-shirt sales are the main source of income for attaining funds for the kitty hence when you buy a new t shirt, you will be supporting a needy medical student.</p>
                      </div>
                    </div>
                  </div>
                  <br>
                  
                  <div>
                    <h2><b>HOW TO SUPPORT LNMB</b></h2>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThirteen">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                        Aside from buying t-shirts, how else can I support the run initiative? 
                      </button>
                    </h2>
                    <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>You can support LNMB by sending a donation of any amount to our paybill number below:<br>
                          LIPA NA MPESA PAYBILL: <b>247247</b><br>
                          ACC NO: <b>0170280594893</b><br>
                          ACC NAME: <b>PROF HASSAN SAIDI EDUCATION MEMORIAL FUND</b><br>
                          You can also rent a booth at a fee to be a vendor at the charity run. Visit ***website domain** to sign up to be a vendor. 
                          </p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFourteen">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                        How do I volunteer to help with the run?
                      </button>
                    </h2>
                    <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>If you are a medical student at the University of Nairobi, ask your class rep to give you more details on how to sign up as a volunteer. 
                          If you are a non-student and you would like to volunteer, simply send us a message at ***website contact form domain** giving us your name, contact details and outlining that you would like to volunteer. Someone from our team will reach out to you shortly. 
                          </p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFifteen">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                        What happens if I am not available to attend the run on 29th April?
                      </button>
                    </h2>
                    <div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="headingFifteen" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>No problem, you can still support the funds drive by buying the t-shirt. Simply visit our website **domain** to buy a t-shirt to support the funds drive. You can also simply donate to the fund if you’d like to give your contribution without buying a t shirt. Donations are being channeled to:<br>
                          LIPA NA MPESA PAYBILL: <b>247247</b><br>
                          ACC NO: <b>0170280594893</b><br>
                          ACC NAME: <b>PROF HASSAN SAIDI EDUCATION MEMORIAL FUND</b>
                          </p>
                      </div>
                    </div>
                  </div>

                  <div>
                    <h2>ACCOUNTABILITY</h2>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSixteen">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                        How do I know that the funds collected under LNMB are safe and will actually go to a worthy cause? 
                      </button>
                    </h2>
                    <div id="collapseSixteen" class="accordion-collapse collapse" aria-labelledby="headingSixteen" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>The Leave No Medic Behind initiative fund is housed by Kenya Medical Association (KMA) Nairobi Division where it is legally recognized as the Prof Hassan Saidi Education Memorial Fund. The bank account is managed by KMA whereby there are 3 signatories to the account who are all doctors. No medical student is a signatory to the account and none will ever be. A minimum of 2 signatories (of the 3 doctors who oversee) are required to sign before any funds are withdrawn from the account. All financial records and documents are carefully kept by KMA. The beneficiaries of the LNMB fund are vetted thoroughly before being admitted to the program and furthermore, funds for their school fees are disbursed directly to the University fees collection bank account while funds for food and accommodation are also disbursed directly to the University Mess and Hostels Of Residence bank accounts respectively.</p>
                      </div>
                    </div>
                  </div>

                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingSeventeen">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                        Is LNMB only taking beneficiaries from University of Nairobi?
                      </button>
                    </h2>
                    <div id="collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="headingSeventeen" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <p>LNMB is seeking to expand to take beneficiaries from other medical schools. For the 2023 cohort, we will include Mount Ken</p>
                      </div>
                    </div>
                  </div>


                  <!-- to here... -->

                  <!-- is code that you can reproduce and edit into more FAQs. Uncomment and use it -->

                  <!-- full documentation here on bootstrap: https://getbootstrap.com/docs/5.1/components/accordion/ -->
                
              </div>
        </div>
    </div>
</section>