<% layout('layout/boilerplate')%>
  <section class="hero" id="section_1">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-12 m-auto">
          <div class="hero-text">
            <h1 class="text-white mb-4">
              Leave No Medic <u class="text-info">Behind</u>
            </h1>

            <div class="d-flex justify-content-center align-items-center mb-5">
              <span class="date-text">April, 2023</span>

              <span class="location-text">University of Nairobi</span>
            </div>
            <div class="d-flex justify-content-around align-items-center">
              <a class="nav-link custom-btn btn d-lg-block" href="/buy-tshirt">Buy A T-shirt</a>
              <a class="nav-link custom-btn btn d-lg-block" href="/about">Learn More About Us</a>
            </div>

            <a href="#section_2" class="custom-link bi-arrow-down arrow-icon"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="video-wrap">
      <video autoplay="" loop="" muted="" class="custom-video" poster="">
          <source src="videos/hero-video.mp4" type="video/mp4">

          Your browser does not support the video tag.
      </video>
  </div>

  </section>

  <section class="schedule section-padding mb-2" id="section_2">
    <div class="container mb-6">
      <div class="row">
        <div class="col-lg-12 col-12">
          <h2 class="mb-5 text-center">
            The <u class="text-info">Run Experience</u>
          </h2>

          <nav>
            <div class="nav nav-tabs align-items-baseline" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-DayOne-tab" data-bs-toggle="tab" data-bs-target="#nav-DayOne"
                type="button" role="tab" aria-controls="nav-DayOne" aria-selected="true">
                <h3>
                  <span>How to</span>
                  <small>Sign up</small>
                </h3>
              </button>

              <button class="nav-link" id="nav-DayTwo-tab" data-bs-toggle="tab" data-bs-target="#nav-DayTwo"
                type="button" role="tab" aria-controls="nav-DayTwo" aria-selected="false">
                <h3>
                  <span>Training</span>
                  <small>plans</small>
                </h3>
              </button>

              <button class="nav-link" id="nav-DayThree-tab" data-bs-toggle="tab" data-bs-target="#nav-DayThree"
                type="button" role="tab" aria-controls="nav-DayThree" aria-selected="false">
                <h3>
                  <span>Teams'</span>
                  <small>Game nights</small>
                </h3>
              </button>

              <button class="nav-link" id="nav-DayFour-tab" data-bs-toggle="tab" data-bs-target="#nav-DayFour"
                type="button" role="tab" aria-controls="nav-DayFour" aria-selected="false">
                <h3>
                  <span>Race</span>
                  <small>Day</small>
                </h3>
              </button>
            </div>
          </nav>

          <div class="tab-content mt-5" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-DayOne" role="tabpanel" aria-labelledby="nav-DayOne-tab">
              <div class="row border-bottom pb-5 mb-5">
                <div class="col-lg-12 col-12">
                  <h2 class="mb-5">It's <u class="text-info">Easy!</u></h2>
                </div>
                <div class="col-lg-6 col-12">
                  <p>
                    All you need to do is
                    <a href="/buy-tshirt"><b><u class="text-info">buy a t-shirt</u></b></a>
                    and show up wearing it on 29th April 2023 at the KMTC field
                    along Ngong Road.
                  </p>
                  <p>
                    We have 2 pick up points for t-shirts, one at Kenyatta
                    National Hospital and the other one at Chiromo Campus,
                    University of Nairobi. You can also opt to pick up your
                    t-shirt at the venue on race day.
                  </p>
                  <div class="venue-info-body">
                    <h6 class="d-flex ">
                      <i class="bi bi-calendar-date mx-3"></i>
                      <span> 29TH APRIL 2023</span>
                    </h6>

                    <h6 class="d-flex ">
                      <i class="bi bi-geo-alt mx-3"></i>
                      <span> KMTC FIELD</span>
                    </h6>

                    <h6 class="d-flex ">
                      <i class="bi bi-clock mx-3"></i>
                      <span> 7.30AM</span>
                    </h6>
                  </div>
                  <!-- <div class="venue-thumb bg-white shadow-lg">
                    <div class="venue-info-title">
                      <h2 class="text-white mb-0">Kenyatta National Hospital</h2>
                    </div>
  
                    
                  </div> -->
                  <!-- <iframe
                  class="google-map"
                  src="https://maps.google.com/maps?q=knh&t=&z=13&ie=UTF8&iwloc=&output=embed"
                  width="100%"
                  height="371.59"
                  allowfullscreen=""
                  loading="lazy"
                ></iframe> -->
                </div>
                <div class="col-lg-6 col-12 mt-5 mt-lg-0">
                  <h4>The route</h4>
                  <img src="images/route.jpg" alt="" srcset="" style="max-width:100%; max-height:100%;">
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="nav-DayTwo" role="tabpanel" aria-labelledby="nav-DayTwo-tab">
              <div class="row border-bottom pb-5 mb-5">
                <!-- <div class="col-lg-4 col-12">
                <img
                  src="images/schedule/people-smiling-while-conference-room.jpg"
                  class="schedule-image img-fluid"
                  alt=""
                />
              </div> -->

                <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                  <h4 class="mb-2">Ultra Beginners Level</h4>

                  <p>
                    This is for you if you've never ran in your life. It's okay.
                    We got you covered with an 8 week 5km plan.
                  </p>

                  <div class="d-flex align-items-center mt-4">
                    <a href="https://drive.google.com/file/d/1ka5PAtYupUWW91kWbuuhzswAfjWr7dWv/view?usp=share_link"
                      class="btn btn-primary" target="_blank">Get the Training Plan</a>
                  </div>
                </div>
              </div>

              <div class="row border-bottom pb-5 mb-5">

                <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                  <h4 class="mb-2">Beginners 1.0 Level</h4>

                  <p>
                    This is for those who are relatively new to running and have
                    some minimal experience. Choose this plan if currently, you
                    can run for about 5 minutes continuously. It will be an 8 week
                    10km plan.
                  </p>

                  <div class="d-flex align-items-center mt-4">
                    <a href="https://drive.google.com/file/d/1klM6NHSyTQ9bOqnPIzKbVujHF9MCJvIL/view?usp=share_link"
                      class="btn btn-primary" target="_blank">Get the Training Plan</a>
                  </div>
                </div>
              </div>

              <div class="row border-bottom pb-5 mb-5">


                <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                  <h4 class="mb-2">Intermediate Level</h4>

                  <p>
                    This is for those who are somewhat familiar with fitness and
                    have a moderate level of experience with running. Choose this
                    plan if currently, you can run for about 25 minutes
                    continuously. It is a 4 week 10km plan.
                  </p>

                  <div class="d-flex align-items-center mt-4">
                    <a href="[insert link to pdf here]" class="btn btn-primary" target="_blank">Get the Training
                      Plan</a>
                  </div>
                </div>
              </div>

              <div class="row border-bottom pb-5 mb-5">
                <!-- <div class="col-lg-4 col-12">
                <img
                  src="images/schedule/people-smiling-while-conference-room.jpg"
                  class="schedule-image img-fluid"
                  alt=""
                />
              </div> -->

                <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                  <h4 class="mb-2">Expert Level</h4>

                  <p>
                    This will be a crash course for experienced runners who have
                    been at it for years. If you're confident in your fitness and
                    can run for about 45 minutes continuously, then this is the
                    right plan for you. It is a 2 week 10km plan.
                  </p>

                  <div class="d-flex align-items-center mt-4">
                    <a href="[insert link to pdf here]" class="btn btn-primary" target="_blank">Get the Training
                      Plan</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="nav-DayThree" role="tabpanel" aria-labelledby="nav-DayThree-tab">
              <div class="row border-bottom pb-5 mb-5">
                <!-- <div class="col-lg-4 col-12">
                <img
                  src="images/schedule/people-smiling-while-conference-room.jpg"
                  class="schedule-image img-fluid"
                  alt=""
                />
              </div> -->

                <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                  <h4 class="mb-2">About this</h4>

                  <p>
                    In the weeks leading up to the
                    <a href="/buy-tshirt"><b><u class="text-info">LNMB run</u></b></a>, we have organized some fun game
                    nights which will allow
                    participants to join different teams, compete and get points
                    which will contribute to the team’s final score on race day.
                    Our game nights will also provide a great opportunity for you
                    to learn more about the amazing organizations and companies
                    who are sponsoring the 2023 charity run. Stay tuned to AMSUN
                    Running Club social media pages for more details about the
                    game nights.
                  </p>
                </div>
              </div>
            </div>
              <div class="tab-pane fade" id="nav-DayFour" role="tabpanel" aria-labelledby="nav-DayFour-tab">
                <div class="row">

                  <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                    <h4 class="mb-2">On the race day</h4>

                    <p>
                      We will begin with a short warm up session followed by the
                      official flag off. After the run, we will have a cool-down
                      session and an amazing entertainment program with fun games,
                      music and performances. We will also have a great line-up of
                      vendors and exhibitors! This will be the experience of a
                      lifetime! You definitely don’t want to miss it.
                    </p>

                    <div class="d-flex align-items-center mt-4">
                      <a href="[insert link to pdf here]" class="btn btn-primary">Get the Schedule</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </section>

  <!-- <section class="highlight mt-4" id="section_4">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-12 mt-5">
          <h2 class="mb-4"><u class="text-info">Past Highlights</u></h2>
        </div>

        <div class=" col-12">
          <div class="center">
            <div><img src="images/slick/1.jpg" alt=""></div>
            <div><img src="images/slick/2.jpg" alt=""></div>
            <div><img src="images/slick/3.jpg" alt=""></div>
            <div><img src="images/slick/4.jpg" alt=""></div>
            <div><img src="images/slick/5.jpg" alt=""></div>
            <div><img src="images/slick/6.jpg" alt=""></div>
            <div><img src="images/slick/7.jpg" alt=""></div>
            <div><img src="images/slick/8.jpg" alt=""></div>
            <div><img src="images/slick/9.jpg" alt=""></div>
            <div><img src="images/slick/10.jpg" alt=""></div>
            <div><img src="images/slick/11.jpg" alt=""></div>
            <div><img src="images/slick/12.jpg" alt=""></div>
            <div><img src="images/slick/13.jpg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- <section class="speakers section-padding" id="section_5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 d-flex flex-column justify-content-center align-items-center">
          <div class="speakers-text-info">
            <h2 class="mb-4">Our <u class="text-info">Partners</u></h2>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut dolore
            </p>
          </div>
        </div>

        <div class="col-lg-6 col-12">
          <div class="speakers-thumb">
            <img src="images/avatar/happy-asian-man-standing-with-arms-crossed-grey-wall.jpg"
              class="img-fluid speakers-image" alt="" />

            <small class="speakers-featured-text">Featured</small>

            <div class="speakers-info">
              <h5 class="speakers-title mb-0">KMA</h5>

              <p class="speakers-text mb-0">Socials</p>

              <ul class="social-icon">
                <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                <li><a href="#" class="social-icon-link bi-google"></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-12">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
              <div class="speakers-thumb speakers-thumb-small">
                <img src="images/avatar/portrait-good-looking-brunette-young-asian-woman.jpg"
                  class="img-fluid speakers-image" alt="" />

                <div class="speakers-info">
                  <h5 class="speakers-title mb-0">Company 2</h5>

                  <p class="speakers-text mb-0">Socials</p>

                  <ul class="social-icon">
                    <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                    <li>
                      <a href="#" class="social-icon-link bi-instagram"></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
              <div class="speakers-thumb speakers-thumb-small">
                <img src="images/avatar/senior-man-white-sweater-eyeglasses.jpg" class="img-fluid speakers-image"
                  alt="" />

                <div class="speakers-info">
                  <h5 class="speakers-title mb-0">Company 3</h5>

                  <p class="speakers-text mb-0">Socials</p>

                  <ul class="social-icon">
                    <li>
                      <a href="#" class="social-icon-link bi-instagram"></a>
                    </li>

                    <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
              <div class="speakers-thumb speakers-thumb-small">
                <img
                  src="images/avatar/pretty-smiling-joyfully-female-with-fair-hair-dressed-casually-looking-with-satisfaction.jpg"
                  class="img-fluid speakers-image" alt="" />

                <div class="speakers-info">
                  <h5 class="speakers-title mb-0">Company 4</h5>

                  <p class="speakers-text mb-0">Socials</p>

                  <ul class="social-icon">
                    <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                    <li>
                      <a href="#" class="social-icon-link bi-instagram"></a>
                    </li>

                    <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-6 col-12">
              <div class="speakers-thumb speakers-thumb-small">
                <img
                  src="images/avatar/indoor-shot-beautiful-happy-african-american-woman-smiling-cheerfully-keeping-her-arms-folded-relaxing-indoors-after-morning-lectures-university.jpg"
                  class="img-fluid speakers-image" alt="" />

                <div class="speakers-info">
                  <h5 class="speakers-title mb-0">Company 5</h5>

                  <p class="speakers-text mb-0">Socials</p>

                  <ul class="social-icon">
                    <li>
                      <a href="#" class="social-icon-link bi-instagram"></a>
                    </li>

                    <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section class="contact section-padding" id="section_7">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-12 mx-auto">
          <form class="custom-form contact-form bg-white shadow-lg" action="#" method="post" role="form">
            <h2>Reach out to us for feedback and more</h2>

            <div class="row">
              <div class="col-lg-4 col-md-4 col-12">
                <input type="text" name="name" id="name" class="form-control" placeholder="Name" required="" />
              </div>

              <div class="col-lg-4 col-md-4 col-12">
                <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control"
                  placeholder="Email" required="" />
              </div>

              <!-- <div class="col-lg-4 col-md-4 col-12">
                <input type="text" name="subject" id="subject" class="form-control" placeholder="Subject" />
              </div> -->

              <div class="col-12">
                <textarea class="form-control" rows="5" id="message" name="message" placeholder="Message"></textarea>

                <button type="submit" class="form-control">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>