<% layout('layout/boilerplate')%>
  <section class="hero" id="section_1">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-12 m-auto">
          <div class="hero-text">
            <h1 class="text-white mb-4">
              Leave No Medic Behind Run
            </h1>

            <div class="d-flex justify-content-center align-items-center mb-5">
              <span class="date-text">4th May, 2024</span>

              <span class="location-text">University of Nairobi</span>
            </div>
            <div class="d-flex justify-content-around align-items-center">
              <a class="nav-link custom-btn btn d-lg-block" href="/buy-tshirt">Proceed to Purchase</a>
              <a class="nav-link custom-btn btn d-lg-block" href="/donate">Make a donation</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="video-wrap">
      <video autoplay="" loop="" muted="" class="custom-video" poster="">
        <source src="videos/hero-video.mp4" type="video/mp4">

        Your browser does not support the video tag.
      </video>
    </div>

  </section>

  <section class="schedule section-padding" id="experience">
    <div class="container mb-4">
      <div class="row">
        <div class="col-lg-12 col-12">
          <h2 class="mb-5 text-center">
            The <u class="text-info">Run Experience</u>
          </h2>

          <nav>
            <div class="nav nav-tabs align-items-baseline nav-fill" id="nav-tab" role="tablist">
              <button class="nav-link active" id="nav-DayOne-tab" data-bs-toggle="tab" data-bs-target="#nav-DayOne"
                type="button" role="tab" aria-controls="nav-DayOne" aria-selected="true">
                <h3>
                  <span>How to</span>
                  <small>Sign up</small>
                </h3>
              </button>

              <button class="nav-link" id="nav-DayTwo-tab" data-bs-toggle="tab" data-bs-target="#nav-DayTwo"
                type="button" role="tab" aria-controls="nav-DayTwo" aria-selected="false">
                <h3>
                  <span>Training</span>
                  <small>plans</small>
                </h3>
              </button>

              <button class="nav-link" id="nav-DayThree-tab" data-bs-toggle="tab" data-bs-target="#nav-DayThree"
                type="button" role="tab" aria-controls="nav-DayThree" aria-selected="false">
                <h3>
                  <span>Teams'</span>
                  <small>Game nights</small>
                </h3>
              </button>

              <button class="nav-link" id="nav-DayFour-tab" data-bs-toggle="tab" data-bs-target="#nav-DayFour"
                type="button" role="tab" aria-controls="nav-DayFour" aria-selected="false">
                <h3>
                  <span>Race</span>
                  <small>Day</small>
                </h3>
              </button>

              <button class="nav-link" id="nav-DayFive-tab" data-bs-toggle="tab" data-bs-target="#nav-DayFive"
                type="button" role="tab" aria-controls="nav-DayFive" aria-selected="false">
                <h3>
                  <span>Routes</span>
                  <small>We will use</small>
                </h3>
              </button>
            </div>
          </nav>


          <div class="tab-content mt-5" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-DayOne" role="tabpanel" aria-labelledby="nav-DayOne-tab">
              <div class="row border-bottom pb-5 mb-5">
                <div class="col-lg-12 col-12">
                  <h2 class="mb-5">It's <u class="text-info">Easy!</u></h2>
                </div>
                <div class="col-lg-6 col-12">
                  <p>
                    All you need to do is
                    <a href="/buy-tshirt"><b><u class="text-info">buy a t-shirt</u></b></a>
                    and show up wearing it on 4th May 2024 at the KMTC field
                    along Ngong Road.
                  </p>
                  <p>
                    We have 2 pick up points for t-shirts, one at Kenyatta
                    National Hospital and the other one at Chiromo Campus,
                    University of Nairobi.
                  </p>
                  <p>
                    You can also opt to pick up your
                    t-shirt at the venue on race day.
                  </p>

                  <div class="d-flex align-items-center mt-3 mb-3">
                    <a class="custom-btn btn custom-link mt-1 mb-1" href="/FAQ">Frequently Asked Questions</a>
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="venue-thumb bg-white shadow-lg mb-4">
                    <div class="venue-info-title">
                      <h6 class="d-flex my-3">
                        <i class="bi bi-calendar2-date-fill mx-3" style="color: white;"></i>
                        <span style="color: white;"> 4th May 2024</span>
                      </h6>

                      <h6 class="d-flex my-3">
                        <i class="bi bi-geo-alt mx-3" style="color: white;"></i>
                        <span style="color: white;"> KMTC FIELD</span>
                      </h6>

                      <h6 class="d-flex my-3">
                        <i class="bi bi-clock mx-3" style="color: white;"></i>
                        <span style="color: white;"> 7.30AM</span>
                      </h6>
                    </div>
                  </div>
                  <div class="d-flex align-items-center">
                    <a class="custom-btn custom-border-btn btn custom-link mt-1 mb-1" href="/buy-tshirt">Get A
                      T-shirt</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="nav-DayTwo" role="tabpanel" aria-labelledby="nav-DayTwo-tab">
              <div class="row border-bottom pb-5 mb-5">

                <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                  <h4 class="mb-2">Ultra Beginners Level</h4>

                  <p>
                    This is for you if you've never ran in your life. It's okay.
                    We got you covered with an 8 week 5km plan.
                  </p>

                  <div class="d-flex align-items-center mt-4">
                    <a href="https://drive.google.com/file/d/1ka5PAtYupUWW91kWbuuhzswAfjWr7dWv/view?usp=share_link"
                      class="custom-btn btn btn-primary custom-link" target="_blank">Get the Training Plan</a>
                  </div>
                </div>
              </div>

              <div class="row border-bottom pb-5 mb-5">

                <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                  <h4 class="mb-2">Beginners 1.0 Level</h4>

                  <p>
                    This is for those who are relatively new to running and have
                    some minimal experience. Choose this plan if currently, you
                    can run for about 5 minutes continuously. It will be an 8 week
                    10km plan.
                  </p>

                  <div class="d-flex align-items-center mt-4">
                    <a href="https://drive.google.com/file/d/1klM6NHSyTQ9bOqnPIzKbVujHF9MCJvIL/view?usp=share_link"
                      class="custom-btn btn btn-primary custom-link" target="_blank">Get the Training Plan</a>
                  </div>
                </div>
              </div>

              <div class="row border-bottom pb-5 mb-5">


                <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                  <h4 class="mb-2">Intermediate Level</h4>

                  <p>
                    This is for those who are somewhat familiar with fitness and
                    have a moderate level of experience with running. Choose this
                    plan if currently, you can run for about 25 minutes
                    continuously. It is a 4 week 10km plan.
                  </p>

                  <div class="d-flex align-items-center mt-4">
                    <a href="https://drive.google.com/file/d/1BJut5DTWdcG-1mCSFv7SKMe2rjIcivpc/view?usp=drivesdk"
                      class="custom-btn btn btn-primary custom-link " target="_blank">Get the
                      Training
                      Plan</a>
                  </div>
                </div>
              </div>

              <div class="row border-bottom pb-5 mb-5">

                <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                  <h4 class="mb-2">Expert Level</h4>

                  <p>
                    This will be a crash course for experienced runners who have
                    been at it for years. If you're confident in your fitness and
                    can run for about 45 minutes continuously, then this is the
                    right plan for you. It is a 2 week 10km plan.
                  </p>

                  <div class="d-flex align-items-center mt-4">
                    <a href="https://drive.google.com/file/d/1BTsoo9wERhNJwx-tVp1lyUmD3J3GLagu/view?usp=drivesdk"
                      class="custom-btn btn btn-primary" target="_blank">Get the
                      Training
                      Plan</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="nav-DayThree" role="tabpanel" aria-labelledby="nav-DayThree-tab">
              <div class="row border-bottom pb-5 mb-5">

                <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                  <h4 class="mb-2">About this</h4>

                  <p>
                    In the weeks leading up to the
                    <a href="/buy-tshirt"><b><u class="text-info">LNMB run</u></b></a>, we have organized some fun game
                    nights which will allow
                    participants to join different teams, compete and get points
                    which will contribute to the team's final score on race day.
                    Our game nights will also provide a great opportunity for you
                    to learn more about the amazing organizations and companies
                    who are sponsoring the 2024 charity run. Stay tuned to AMSUN
                    Running Club social media pages for more details about the
                    game nights.
                  <ul class="social-icon ms-auto">

                    <li><a href="https://www.instagram.com/amsunrunning/" class="social-icon-link bi-instagram"></a>
                    </li>

                    <li><a href="https://twitter.com/AMSUNrunning" class="social-icon-link bi-twitter"></a></li>
                  </ul>
                  </p>
                  <div class="d-flex align-items-center mt-4">
                    <a href="https://forms.gle/KPs2vsumH1rSmv8MA" class="custom-btn btn btn-primary custom-link "
                      target="_blank">Sign up here</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-DayFour" role="tabpanel" aria-labelledby="nav-DayFour-tab">
              <div class="row">

                <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                  <h4 class="mb-2">On the race day</h4>

                  <p>
                    We will begin with a short warm up session followed by the
                    official flag off. After the run, we will have a cool-down
                    session and an amazing entertainment program with fun games,
                    music and performances. We will also have a great line-up of
                    vendors and exhibitors! This will be the experience of a
                    lifetime! You definitely don't want to miss it.
                  </p>

                  <div class="d-flex align-items-center mt-4">
                    <a href="https://drive.google.com/file/d/1a9EJjHlXOkW0V16xFX_7Wh5VaVQZ5Ycs/view?usp=sharing" class="custom-btn btn btn-primary">Get the Schedule</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-DayFive" role="tabpanel" aria-labelledby="nav-DayFive-tab">
              <div class="row">

                <div class="col-lg-8 col-12 mt-3 mt-lg-0">
                  <h4 class="mb-2">5K or 10K?</h4>
                </div>
                <div class="col-lg-6 col-12">
                  <h5>The 5 KM Route</h5>
                  <p>KMTC field > KNH gate at the Mbagathi Rd pedestrian bridge > Join Upperhill Links Rd > Turn left at
                    the Real Towers junction @ Hospital Rd > U turn to the opposite lane along Hospital rd @ the KNH
                    main gate > Proceed along Hospital rd to the roundabout with Elgon rd > Britam Tower > Turn right @
                    the Mara Rd roundabout > Turn right @ the British High Commission and proceed along Upper Hill Rd
                    towards Don Bosco Church roundabout > Turn right @ the Upperhill rd/Elgon rd junction to join Elgon
                    Rd > Proceed towards the Elgon rd/Hospital rd roundabout > Proceed along Hospital rd to the Hospital
                    rd/Ngong rd junction > Turn left, joining Ngong rd > Turn left at the KMTC gate and head to the
                    finish point @ the KMTC field.</p>
                  <img src="images/5KM.png" alt="" srcset="" style="max-width:100%; max-height:100%;">

                </div>
                <div class="col-lg-6 col-12">
                  <h5>The 10 KM Route</h5>
                  <p>KMTC field > KNH gate at the Mbagathi Rd pedestrian bridge > Join Upperhill Links Rd > Turn left at
                    the Real Towers junction @ Hospital Rd > U turn to the opposite lane along Hospital rd @ the KNH
                    main gate > Proceed along Hospital rd to the roundabout with Elgon rd > Britam Tower > Turn right @
                    the Mara Rd roundabout > Turn right @ the British High Commission and proceed along Upper Hill Rd
                    towards Don Bosco Church roundabout > Turn left to join Lower Hill rd , heading towards DIB Bank @
                    Bunyala Rd roundabout > Turn right, joining Bunyala Rd > Turn right at the Masaba Rd junction >
                    Proceed along Masaba rd to the KWFT headquarters > Cross the rd junction and proceed to the
                    Matumbato Rd junction > Turn left and proceed towards Elgon Rd > Turn left @ the Elgon Rd junction
                    and proceed towards the Elgon rd/Hospital rd roundabout > Proceed along Hospital rd to the Hospital
                    rd/Ngong rd junction > Turn left, joining Ngong rd > Turn left at the KMTC gate and head to the
                    finish point @ the KMTC field.</p>
                  <img src="images/10KM.png" alt="" srcset="" style="max-width:100%; max-height:100%;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>

  <section class="speakers section-padding" id="partners">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 d-flex flex-column justify-content-center align-items-center">
          <div class="speakers-text-info">
            <h2 class="mb-4">Our <u class="text-info">Partners</u></h2>

            <p>
              Introducing our Leave No Medic behind Sponsors for the 2024 edition
            </p>
          </div>
        </div>

        <!-- <div class="col-lg-6 col-12">
          <div class="speakers-thumb">
            <img src="images/partners/Glenmark.jpg" class="img-fluid speakers-image" alt="" />

            <small class="speakers-featured-text">Platinum</small>

            <div class="speakers-info">
              <h5 class="speakers-title mb-0">Glenmark</h5>

              <p class="speakers-text mb-0">Socials</p>

              <ul class="social-icon">

                <li>
                  <a href="https://www.instagram.com/glenmark_pharma/" class="social-icon-link bi-instagram"></a>
                </li>

                <li><a href="https://www.linkedin.com/company/glenmark-pharmaceuticals/" class="social-icon-link bi-linkedin"></a></li>
              </ul>
            </div>
          </div>
        </div> -->

        <!-- <div class="col-lg-12 col-12">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
              <div class="speakers-thumb speakers-thumb-small">
                <img src="images/partners/Sai.jpg" class="img-fluid speakers-image" alt="" />

                <small class="speakers-featured-text">Gold</small>

                <div class="speakers-info">
                  <h5 class="speakers-title mb-0">Sai Pharmaceuticals</h5>

                  <p class="speakers-text mb-0">Socials</p>

                  <ul class="social-icon">

                    <li>
                      <a href="#" class="social-icon-link bi-instagram"></a>
                    </li>

                    <li><a href="#" class="social-icon-link bi-linkedin"></a></li>
                  </ul>
                </div>
              </div>
            </div>

            <!-- <div class="col-lg-4 col-md-6 col-12">
              <div class="speakers-thumb speakers-thumb-small">
                <img src="images/partners/Gilead.jpg" class="img-fluid speakers-image" alt="" />

                <small class="speakers-featured-text">Silver</small>

                <div class="speakers-info">
                  <h5 class="speakers-title mb-0">Gilead</h5>

                  <p class="speakers-text mb-0">Socials</p>

                  <ul class="social-icon">
                    <li>
                      <a href="https://www.instagram.com/gileadsciences/" class="social-icon-link bi-instagram"></a>
                    </li>

                    <li><a href="https://www.linkedin.com/company/gilead-sciences/"
                        class="social-icon-link bi-linkedin"></a></li>

                    <li><a href="https://www.facebook.com/GileadSciences"
                        class="social-icon-link bi-facebook"></a></li>
                  </ul>
                </div>
              </div>
            </div> -->

            <div class="col-lg-4 col-md-6 col-12">
              <div class="speakers-thumb speakers-thumb-small">
                <img src="images/partners/KMA.jpg" class="img-fluid speakers-image" alt="" />

                <small class="speakers-featured-text">bronze</small>

                <div class="speakers-info">
                  <h5 class="speakers-title mb-0">KMA Sacco</h5>

                  <p class="speakers-text mb-0">Socials</p>

                  <ul class="social-icon">

                    <li>
                      <a href="https://www.instagram.com/kmasacco/" class="social-icon-link bi-instagram"></a>
                    </li>

                    <li><a href="https://www.facebook.com/kmasacco" class="social-icon-link bi-facebook"></a></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div> -->
      </div>
    </div>
  </section>

  <section class="contact section-padding" id="contact-info">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-12 mx-auto">
          <form class="custom-form contact-form bg-white shadow-lg" action="/contact" method="post" role="form">
            <h2>Reach out to us for feedback and suggestions</h2>

            <div class="row">
              <div class="col-lg-6 col-md-6 col-12 mx-auto">
                <div class="venue-thumb bg-white shadow-lg">
                  <div class="venue-info-title">
                    <h6 class="d-flex ">
                      <i class="bi bi-envelope me-2" style="color: white;"></i>
                      <span style="color: white;"> <a href="mailto:info@lnmb-run.org"
                          style="color: white;">info@lnmb-run.org</a> </span>
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>