<% layout('layout/boilerplate')%>

    <section>
        <div class="container">
            <div class="row">
                <div class="alert alert-info alert-dismissible fade show mt-5" role="alert">
                    Hey there! Vendor sign up has been closed.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                <div class="col-lg-10 col-12 text-center mx-auto mb-5 mt-5">
                    <h2>Sign up to be a <u class="text-info">Vendor</u></h2>
                </div>

                <div>
                    <iframe data-tally-src="https://tally.so/embed/wMb8zA?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1" loading="lazy" width="100%" height="1156" frameborder="0" marginheight="0" marginwidth="0" title="Sign up to be a Vendor "></iframe><script>var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}</script>   
                </div>
            </div>
        </div>
    </section>
    <section class="pricing section-padding" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-12 text-center mx-auto mb-5">
                    <h2>Vendor <u class="text-info">Testimonials</u></h2>
                    <h6>From last year's (2022) edition</h6>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-5 mb-lg-0">
                    <div class="pricing-thumb bg-white shadow-lg">
                        <div class="pricing-body">
                            <p>
                                "It was a pleasant platform to display my goods, sell & get
                                contacts of potential clients. Grateful for it."
                            </p>

                            <div class="border-bottom pb-3 mb-4"></div>

                            <p><i>Limbe Akang'o, Michael 's Bouquet. </i></p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-5 mb-lg-0">
                    <div class="pricing-thumb bg-white shadow-lg">
                        <div class="pricing-body">
                            <p>
                                "The run provided a good avenue to advertise my products, interact
                                with my clients and meet potential clients. I really appreciate
                                the platform to network and grow as a small business owner."
                            </p>

                            <div class="border-bottom pb-3 mb-4"></div>

                            <p><i>Feizal Barasa, Medy Limited</i></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-5 mb-lg-0">
                    <div class="pricing-thumb bg-white shadow-lg">
                        <div class="pricing-body">
                            <p>
                                "The turn out was great and I was able to make sales as well as
                                enjoy the day. What a lovely opportunity!"
                            </p>

                            <div class="border-bottom pb-3 mb-4"></div>

                            <p><i>Sandra Lukorito, Malu Apparel &#10084;&#65039; </i></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-5 mb-lg-0">
                    <div class="pricing-thumb bg-white shadow-lg">
                        <div class="pricing-body">
                            <p>
                                "It was an honor and privilege to be a vendor during the LNMB
                                Charity Run 2022. I was in charge of catering to the volunteers
                                and it was an immense pleasure doing so. I had a lot of fun and
                                the team on the ground was amazing. I look forward to catering in
                                this year's run."
                            </p>

                            <div class="border-bottom pb-3 mb-4"></div>

                            <p><i>"Kanabu Mwende, Ticky Caterers" </i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>