<nav class="navbar navbar-expand-lg">
    <div class="container">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="/" class="navbar-brand mx-auto mx-lg-0">
            <i class="bi-bullseye brand-logo"></i>
            <span class="brand-text">Leave No Medic<br> Behind</span>
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_2">Run Details</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_3">About Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_4">Highlights</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_5">Partners</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="/vendors">Vending</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="#section_7">Contact</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link custom-btn btn d-none d-lg-block" href="/buy-tshirt">Buy A T-shirt</a>
                </li>
            </ul>
        <div>
                
    </div>
</nav>