<% layout('admin/adminLayout/adminBoilerplate')%>
  <section class="section">
    <div class="section-body">
      <!-- add content here -->
      <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-lg-12">
          <div class="card ">
            <div class="card-header">
              <h4>Where we are, at the moment</h4>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <div class="row mt-5">
                    <div class="col-7 col-xl-7 mb-3">Total tshirt orders</div>
                    <div class="col-5 col-xl-5 mb-3">
                      <span class="text-big">
                        <%= orderCount %>
                      </span>
                      <!-- <sup class="col-green">+09%</sup> -->
                    </div>
                    <div class="col-7 col-xl-7 mb-3">Total people attending</div>
                    <div class="col-5 col-xl-5 mb-3">
                      <span class="text-big">$9,857</span>
                      <!-- <sup class="text-danger">-18%</sup> -->
                    </div>
                    <!-- <div class="col-7 col-xl-7 mb-3">Project completed</div>
                    <div class="col-5 col-xl-5 mb-3">
                      <span class="text-big">28</span>
                      <sup class="col-green">+16%</sup>
                    </div>
                    <div class="col-7 col-xl-7 mb-3">Total expense</div>
                    <div class="col-5 col-xl-5 mb-3">
                      <span class="text-big">$6,287</span>
                      <sup class="col-green">+09%</sup>
                    </div> -->
                    <div class="col-7 col-xl-7 mb-3">New Customers</div>
                    <div class="col-5 col-xl-5 mb-3">
                      <span class="text-big">684</span>
                      <!-- <sup class="col-green">+22%</sup> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="main">
          <div class="row sparkboxes mt-4 mb-4">
            <div class="col-md-6">
              <div class="box box1">
                <div id="spark1"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="box box2">
                <div id="spark2"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="box box3">
                <div id="spark3"></div>
              </div>
            </div>
          </div>

          <div class="row mt-5 mb-4">
            <div class="col-md-6">
              
            </div>
            <div class="col-md-6">
              <div class="box">
                <div id="donut"></div>
              </div>
            </div>
          </div>

          <div class="row mt-4 mb-4">
            <div class="col-md-6">
              <div class="box">
                <div id="area"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="box">
                <div id="line"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-body">
        <div class="row clearfix">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-6">
            <div class="card">
              <div class="card-header">
                <h4>Bar CHart</h4>
              </div>
              <div class="card-body">
                <div class="box">
                  <div id="bar"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-6">
            <div class="card">
              <div class="card-header">
                <h4>Bar Chart</h4>
              </div>
              <div class="card-body">
                
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-6">
            <div class="card">
              <div class="card-header">
                <h4>Line Chart</h4>
              </div>
              <div class="card-body">
                
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-6">
            <div class="card">
              <div class="card-header">
                <h4>Line Chart</h4>
              </div>
              <div class="card-body">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="../assets/js/page/datatables.js"></script>