<% layout('admin/adminLayout/adminBoilerplate')%>
<section>
    <div><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem autem eius accusamus minus magnam? Ipsum incidunt quos perferendis qui cum vel, voluptate laboriosam illum iste, fuga velit libero ipsa amet!</p></div>
</section>