<% layout('layout/boilerplate') %>
<section>
  <div class="container">
    <div class="row">
      <div class="col mb-5 mt-5 mb-lg-0">
        <div class="pricing-thumb bg-white shadow-lg">
          <div class="pricing-title-wrap d-flex align-items-center">
            <h4 class="pricing-title text-white mb-0">Error</h4>
          </div>

          <div class="pricing-body">
            <p>
              An error has occurred: <%= errorMessage %>
            </p>

            <a class="custom-btn btn mt-3" href="/">Return to home page</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>